/* Ajouter votre code CSS ici.
                     
Par exemple:
.exemple {
    color: red;
}

Pour améliorer vos connaissances en CSS, visitez http://www.w3schools.com/css/css_syntax.asp

Fin du commentaire */

/* HOMEPAGE */

.home-text {
  text-align: justify;
  width: 85vw;
  max-width: 1000px;
}
.wp-container-6.wp-container-6 .alignfull,
.wp-container-8.wp-container-8 .alignfull {
  max-width: 100vw;
}
.css-pave3d {
  background-color: white;
}
.wp-block-cover,
.wp-block-cover-image {
  min-height: 100vh;
}
.wp-block-cover {
  border-radius: 0;
}
.wp-block-cover__inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: inherit;
  padding: 0 0 7vh 0;
}
.size-black {
  min-width: 100vw;
  padding: 0 5vw;
  background-color: white;
  left: 0;
}
.logo-black {
  position: fixed;
  display: flex;
  top: -200px;
  width: 100vw;
  z-index: 20;
  transition: 0.3s;
}
/*.scroll-white {
  transition: 0.3s;
}
.wp-block-heading {
  color: black;
}
.hover-title:hover {
  color: #1f4493;
}
*/

/* MENU PAGE */

.part-1 {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.collage {
  position: relative;
  max-width: 1200px;
}
#img01 {
  position: absolute;
  width: 200px;
  left: 2vw;
  margin-top: -30px;
}
#img01 img {
  width: 100%;
}
#img02 {
  text-align: center;
}
#img02 img {
  width: 70%;
}
#img03 {
  position: absolute;
  width: 300px;
  right: 2vw;
  margin-top: -130px;
}
#img03 img {
  width: 100%;
}
.categories {
  margin-bottom: 2vh;
}
.item-caption {
  font-family: aloha;
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 100%;
  font-weight: 100;
  color: black;
}
.menu-item {
  display: block;
  padding-bottom: 20px;
  color: black;
}
.top-menu-item {
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 0.4vw;
  display: flex;
  justify-content: space-between;
}
.item-name {
  font-size: 3.5vw;
  font-family: "Oswald", sans-serif;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.price-items {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-self: stretch;
  align-items: stretch;
  display: flex;
}
.price {
  font-size: 1.5vw;
  font-family: "Oswald", sans-serif;
  text-align: right;
  vertical-align: middle;
}
.item-line {
  height: 2px;
  background-color: black;
  flex: 0 auto;
  margin-left: 8px;
}
.ingredients {
  font-size: 1.5vw;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  width: 70vw;
  margin-bottom: 0;
}
.active {
  color: #1f4493;
  display: block !important;
}
.item-line.active {
  background-color: #1f4493;
}
.img-container {
  z-index: 11;
  width: 30vw;
  cursor: zoom-in;
  object-fit: cover;
  display: none;
  position: fixed;
  top: auto;
  bottom: 5%;
  left: auto;
  right: 5%;
  transition: 0.3s ease;
}
.img-container img {
  border-radius: 15px;
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
}
.img-container:hover {
  width: 50vw;
}

.wp-block-navigation
  .wp-block-navigation__container
  > .wp-block-navigation-item
  > .current-menu-item,
.wp-block-navigation
  .wp-block-navigation__container
  > .wp-block-navigation-item.current-menu-item
  > a {
  border-bottom: 5px solid rgba(255, 255, 255, 0.4);
}
